.mainItemContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    width: fit-content;
    border-radius: 10px;
    background: var(--cold-temp2);
    font-weight: 600;
    font-size: var(--medium);
    .topSection {
        margin-bottom: 20px;
        .tempSignsWrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 10px;
            button {
                background-color: transparent;
                border: none;
                font-size: var(--medium);
                cursor: pointer;
                font-weight: var(--weight-bold);
                color: #1d53728f;
                transition: all 0.2s ease;
                font-size: var(--large);
            }
            .celsiusBtn {
            }
            .divider {
                height: 30px;
                width: 2px;
                background-color: var(--grey);
                margin: 0 15px;

            }
            .fahrenheitBtn {

            }

            .active {
                color: #1d5372;
            }
        }
    }
    .bottomSection {
        display: flex;
        flex-direction: column;

        & > * {
            margin-right: 20px;
        }

        .dayTemp {

        }
        .nightTemp {

        }
        .separator {

        }
    }
}