.hamburgerContainer {
    
    
    .hamburgerIcon {
        font-size: var(--font-extra-large);
        color: #fff;
        cursor: pointer;
        
    }
    
    .linksWrapper {
        position: relative;
        .closeBtn {
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 30px;
            transition: all 0.3s ease;
            cursor: pointer;
            &:hover {
                color: #000;
            }
        }
        &.none {
            right: 100px;
        }
        position: fixed;
        top: 70px;
        left: 0;
        background: var(--deep-sea);
        display: flex;
        flex-direction: column;
        padding: 50px 20px 20px 10px;
        & > * {
            display: flex;
            margin: 10px 0;
            color: #fff;
            text-decoration: none;
            & > * {
                margin: 0 10px;
            }
        }
    }
}



@media (min-width: 700px) {
    .hamburgerContainer {
          display: none;
          
    }
}