.navbarContainer {
    background: var(--global-light-mode);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    height: var(--font-large);
    .navLogo {
        display: flex;
        justify-content: center;
        align-items: center;
        .logo {
            font-size: var(--font-large);
            color: #fff;
        }
        .logoTitle {
            margin: 0 var(--font-small);
            color: #fff;
            text-decoration: underline;
            font-size: var(--font-medium);
        }
    }
    .linksWrapper {
        & > * {
            text-decoration: none;
            list-style: none;
            margin: 0 20px;
            font-size: var(--font-medium);
            font-weight: bold;
            color: #fff;
        }
    }
}

@media (max-width: 700px) {
    .navbarContainer {
        justify-content: space-between;
        padding: 20px;
        .linksWrapper {
          display: none;
        }
    }
}