.navbarContainer {
    background: var(--global-light-mode);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    .navLogo {
        display: flex;
        justify-content: center;
        align-items: center;
        .logo {
            font-size: 40px;
            color: #fff;
        }
        .logoTitle {
            margin: 0 10px;
            color: #fff;
            text-decoration: underline;
            font-size: var(--large);
        }
    }
    .linksWrapper {
        & > * {
            text-decoration: none;
            list-style: none;
            margin: 0 20px;
            font-size: var(--medium);
            font-weight: bold;
            color: #fff;
        }
    }
}